* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #e6a5b5;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 6.2rem;
  font-weight: 530;
  letter-spacing: 0.2rem;
  font-family: "Lato", sans-serif;
  margin-top: 3vh;
  text-align: center;
  color: #e1ccf7;
}

#top {
  position: relative;
}

h3 {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: #9868bb;
  margin-bottom: 0.3vw;
}

#start-button {
  color: #b484c5;
  height: 2vh;
  padding: 0.2rem;
  border-radius: 7px;
  border: none;
  outline: none;
  transition-duration: 0.4s;
  font-weight: 500;
  font-size: 0.5rem;
  letter-spacing: 0.1em;
  background-color: #e1ccf7;
}

#start-button:hover {
  background-color: palevioletred;
  color: white;
}

#restart {
  color: #f87f74;
  height: 2vh;
  padding: 0.2rem;
  border-radius: 7px;
  border: none;
  outline: none;
  transition-duration: 0.4s;
  font-weight: 500;
  font-size: 0.5rem;
  letter-spacing: 0.1em;
  background-color: #e1ccf7;
  display: flex;
  margin-top: 0.8rem;
}

#restart:hover {
  background-color: #00ffc2;
  color: white;
}

.container {
  display: flex;
  margin-left: 28.5vw;
  margin-top: 2.2vh;
}

.grid {
  width: 22.85vw;
  height: 75.18vh;
  display: flex;
  flex-wrap: wrap;
  background: rgb(237, 125, 181);
  background: linear-gradient(
    180deg,
    rgba(237, 125, 181, 1) 0%,
    rgba(0, 255, 252, 1) 100%
  );
}

.grid div {
  height: 3.758vh;
  width: 2.28vw;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 9.14vw;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  background: rgb(237, 125, 181);
  background: linear-gradient(
    180deg,
    rgba(237, 125, 181, 1) 0%,
    rgba(177, 151, 196, 1) 100%
  );
}
.mini-grid div {
  height: 3.755vh;
  width: 2.285vw;
}
